NET "A<27>" LOC = "P20" ;
NET "A<28>" LOC = "P21" ;
NET "A<29>" LOC = "P22" ;
NET "A<30>" LOC = "P23" ;
NET "A<31>" LOC = "P24" ;
NET "FC<1>" LOC = "P25" ;
NET "UDS" LOC = "P26" ;
NET "LDS" LOC = "P27" ;

NET "XBR" LOC = "P9" ;
NET "BMODE" LOC = "P10" ;
NET "XBGK" LOC = "P11" ;
NET "BG" LOC = "P12" ;
NET "BR" LOC = "P13" ;
NET "BGK" LOC = "P14" ;
NET "HLT" LOC = "P15" ;
NET "A<24>" LOC = "P16" ;
NET "A<24>" LOC = "P16" ;
NET "A<25>" LOC = "P17" ;
NET "A<26>" LOC = "P19" ;

NET "BERR" LOC = "P28" ;
NET "XCPUCLK" LOC = "P30" ;
NET "A<0>" LOC = "P31" ;
NET "CPUCLK" LOC = "P32" ;
NET "XDTACK" LOC = "P33" ;


NET "OPTION1" LOC = "P2" ;
NET "OPTION2" LOC = "P3" ;
NET "XHALT" LOC = "P4" ;
NET "EN_FLASH" LOC = "P5" ;
NET "ENABLE" LOC = "P6" ;
NET "XBG" LOC = "P7" ;


NET "XRW" LOC = "P34" ;
NET "FPUCLK" LOC = "P35" ;
NET "CLKRAM" LOC = "P38" ;
NET "FC<0>" LOC = "P39" ;
NET "FC<2>" LOC = "P40" ;
NET "XAS" LOC = "P41" ;
NET "AVEC" LOC = "P43" ;
NET "DSACK<1>" LOC = "P44" ;

NET "A<19>" LOC = "P135" ;
NET "A<20>" LOC = "P136" ;
NET "A<21>" LOC = "P137" ;
NET "A<22>" LOC = "P138" ;
NET "A<23>" LOC = "P139" ;
NET "FPUDSACK<0>" LOC = "P140" ;
NET "FPUDSACK<1>" LOC = "P142" ;
NET "RST" LOC = "P143" ;

NET "DSACK<0>" LOC = "P45" ;
NET "AS" LOC = "P46" ;
NET "SIZ<1>" LOC = "P48" ;
NET "DS" LOC = "P49" ;

NET "A<14>" LOC = "P130" ;
NET "A<15>" LOC = "P131" ;
NET "A<16>" LOC = "P132" ;
NET "A<18>" LOC = "P133" ;
NET "A<17>" LOC = "P134" ;

NET "P50" LOC = "P50" ;
NET "SIZ<0>" LOC = "P51" ;
NET "D<0>" LOC = "P52" ;
NET "D<1>" LOC = "P53" ;
NET "D<2>" LOC = "P54" ;
NET "D<3>" LOC = "P56" ;
NET "D<4>" LOC = "P57" ;
NET "D<5>" LOC = "P58" ;
NET "D<6>" LOC = "P59" ;

NET "A<6>" LOC = "P117" ;
NET "ROM_A19" LOC = "P118" ;
NET "A<5>" LOC = "P119" ;
NET "A<8>" LOC = "P120" ;
NET "A<7>" LOC = "P121" ;
NET "A<9>" LOC = "P124" ;
NET "A<10>" LOC = "P125" ;
NET "A<11>" LOC = "P126" ;
NET "A<12>" LOC = "P128" ;
NET "A<13>" LOC = "P129" ;

NET "D<7>" LOC = "P60" ;
NET "P61" LOC = "P61" ;
NET "LED<1>" LOC = "P64" ;
NET "LED<2>" LOC = "P66" ;
NET "LED<3>" LOC = "P68" ;
NET "LED<4>" LOC = "P69" ;
NET "LED<5>" LOC = "P70" ;

NET "P110" LOC = "P110" ;
NET "CLKOSC" LOC = "P111" ;
NET "A<2>" LOC = "P112" ;
NET "A<1>" LOC = "P113" ;
NET "A<4>" LOC = "P115" ;
NET "A<3>" LOC = "P116" ;

NET "KHZ500" LOC = "P71" ;
NET "CBREQ" LOC = "P74" ;
NET "CBACK" LOC = "P75" ;
NET "DQM<0>" LOC = "P76" ;
NET "DQM<1>" LOC = "P77" ;
NET "DQM<2>" LOC = "P78" ;

NET "MA<0>" LOC = "P100" ;
NET "MA<1>" LOC = "P101" ;
NET "MA<2>" LOC = "P102" ;
NET "MA<3>" LOC = "P103" ;
NET "BOE" LOC = "P104" ;
NET "ROMOE" LOC = "P105" ;
NET "P106" LOC = "P106" ;
NET "ROMCE" LOC = "P107" ;

NET "DQM<3>" LOC = "P79" ;
NET "MA<12>" LOC = "P80" ;
NET "MA<11>" LOC = "P81" ;
NET "MA<9>" LOC = "P82" ;
NET "MA<8>" LOC = "P83" ;
NET "MA<7>" LOC = "P85" ;
NET "MA<6>" LOC = "P86" ;
NET "MA<5>" LOC = "P87" ;
NET "MA<4>" LOC = "P88" ;

NET "FPUCS" LOC = "P91" ;
NET "STERM" LOC = "P92" ;
NET "RAMWE" LOC = "P93" ;
NET "CAS" LOC = "P94" ;
NET "RAS" LOC = "P95" ;
NET "BA<0>" LOC = "P96" ;
NET "BA<1>" LOC = "P97" ;
NET "MA<10>" LOC = "P98" ;
#Created by Constraints Editor (xc95288xl-tq144-10) - 2022/11/28
NET "XCPUCLK" TNM_NET = XCPUCLK;
TIMESPEC TS_XCPUCLK = PERIOD "XCPUCLK" 16 MHz HIGH 50%;
NET "KHZ500" TNM_NET = KHZ500;
TIMESPEC TS_KHZ500 = PERIOD "KHZ500" 2 us HIGH 50%;
NET "CLKOSC" TNM_NET = CLKOSC;
TIMESPEC TS_CLKOSC = PERIOD "CLKOSC" 50 MHz HIGH 50%;
#NET "CPUCLK" OFFSET = OUT 20 ns AFTER "CLKOSC";
#NET "FPUCLK" OFFSET = OUT 20 ns AFTER "CLKOSC";
#NET "CLKRAM" OFFSET = OUT 20 ns AFTER "CLKOSC";
